.job-details-view-container{
    flex-grow:1;
    padding:40px;
    background-color: #000000;
}
.job-item-container{
    list-style:none;
    background-color: #272727;
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
    color:#ffffff;
    font-family:"Roboto";
}
.img-title-container{
    display: flex;
    flex-direction: row;
    margin-top:0;
    margin-bottom:15px;
}
.title-rating-container{
    margin-top:0;
}
.company-logo{
    width:80px;
    height:80px;
    margin-right:10px;
}
.title-heading{
    margin-top:0;
    margin-left:5px;
    margin-bottom:15px;
    color:#ffffff;
}
.star-rating-container{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.star-icon{
color:#fbbf24;
font-size:20px;
margin-left:5px;
}
.rating-text{
    margin-top:0;
    margin-left:5px;
    color:#ffffff;
    font-weight:bold;
}
.location-package-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location-job-type-container{
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location-icon-location-container{
    display: flex;
    flex-direction: row;
}
.location-icon{
    font-size:20px;
    color:#ffffff;
}
.location{
    margin-top:0;
    margin-bottom:0;
}
.job-type{
    margin-top:0;
}
.package{
    margin-top:0;
}
.link-item{
    text-decoration:none;
}
.job-details-failure-view{
    text-align: center;
    color:#ffffff;
    font-family:"Roboto";
}
.job-details-loader{
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-container-failure{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.failure-job-details-btn{
    background-color: #6366f1;
    color:white;
    border:0;
    border-radius:5px;
    width:100px;
    cursor:pointer;
    padding:5px;
    font-size:20px;
    font-weight:bold;
}
.ul-job-details-container{
   list-style:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    font-size:25px;
    font-family:"Roboto";
    font-weight:bold;
}
.li-job-details-container{
     display: flex;
    flex-direction: row;
    width:30%;
    margin-bottom:50px;
}
.company-life-img-container{
    font-family:"Roboto";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.life-heading-para-container{
    width:70%;
}
.similar-jobs-ul-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
    flex-wrap:wrap;
}
.description-visit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.visit-anchor{
    margin-top:30px;
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
    color:#6366f1;
}
.skill-img{
    margin-right:10px;
    height:100px;
    width:100px;
}
.similar-jobs-heading{
    color:#ffffff;
}
@media screen and(max-width:767px){
.job-details-view-container{
    padding:15px;   
}
.similar-jobs-ul-container{
    display: flex;
    flex-direction: column;
    width:100%;
}
.company-life-img-container{
    display: flex;
    flex-direction: column;
}
.life-heading-para-container{
    width:100%;
}
.ul-job-details-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.li-job-details-container{
    width:100%;
}
.skill-img{
    height:80px;
    width:80px;
}
.employment-type-icon-employment-type-container{
    margin-left:30px;
}
}










