.home-header {
  background-color: #2c364c;
  min-height: 10vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  margin-bottom: 10px;
}

.home-logo {
  height: 50px;
  width: 140px;
}
.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  font-size: 10px;
  color: white;
}
.home-button {
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  width: 130px;
  font-weight: bold;
  font-size: 15px;
}
.header-items-sm {
  display: none;
}
@media screen and (max-width: 766px) {
  .home-header {
    display: none;
  }
  .home-header-sm {
    background-color: #2c364c;
    min-height: 10vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    margin-bottom: 20px;
  }
  .home-logo-sm {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .header-items-sm {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-icon {
    margin-left: 25px;
  }
}